{% extends 'base.html.twig' %}

{% block title %}New Worker{% endblock %}

{% block body %}
    <h1>Create new Worker</h1>

    {{ include('worker/_form.html.twig') }}

    <a href="{{ path('worker_index') }}">back to list</a>
{% endblock %}
