{% extends 'layout.html.twig' %}

{% block title %}Cafés{% endblock %}

{% block body %}

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ asset('build/images/coffee_beans.jpg') }}" alt="thé">
                <div class="intro-text left-0  text-center bg-faded p-11 mt-3 rounded">
                    <h2 class="section-heading mb-2">
                        <span class="section-heading-lower mt-5">Les 5 règles d'or pour préparer le café.</span>
                    </h2>
                    <hr/>
                    <ul class="text-left mr-5 ml-5 mb-5">
                        <li >Adapter la mouture au type de cafetière :</li>
                        <li class ="list-unstyled"><ul class= "text-left">
                                <li>Extrêmement fine pour le café turc.</li>
                                <li>Fine pour les machines expresso avec 15 bars de pression.</li>
                                <li>Moyenne pour les cafetières 'filtre papier'.</li>
                                <li>Moyenne à grasse pour les cafetières italiennes ou à pistons.</li>
                            </ul></li>
                        <li>Utiliser une eau peu calcaire frémissante à 90-95°.</li>
                        <li>Equilibrer le dosage à 7g par tasse pour un expresso et 10g par tasse pour un filtre.</li>
                        <li>Bien nettoyer la cafetière.</li>
                        <li>Préferez les tasses en porcelaine pour la dégustation.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
