{% extends 'layoutAdmin.html.twig' %}

{% block title %}Nouveau membre du personnel{% endblock %}

{% block body %}
    <h1 class="admin-title">Ajouter un nouveau membre du personnel</h1>
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            {{ include('admin/worker/_form.html.twig') }}
        </div>
        <div class="col-md-12 mb-5">
            <a class="btn btn-outline-dark" href="{{ path('worker_index') }}"><i class="fas fa-reply"></i> Retour</a>
        </div>
    </div>
{% endblock %}
