<form class="d-inline" method="post" action="{{ path('grocery_delete', {'id': grocery.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grocery.id) }}">
    <button class="btn btn-outline-secondary"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>
