{% extends 'layoutAdmin.html.twig' %}

{% block title %}Édition d'une épice{% endblock %}

{% block body %}
    <h1>Édition</h1>
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            {{ include('admin/grocery/_form.html.twig', {'button_label': 'Éditer'}) }}
        </div>
        <div class="col-md-12">
            <a type="button" class="btn btn-outline-secondary" href="{{ path('grocery_index') }}"><i class="fas fa-reply"></i> Retourner à la liste</a>
        </div>
    </div>
{% endblock %}
