<form class="d-inline" method="post" action="{{ path('coffee_delete', {'id': coffee.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce café?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coffee.id) }}">
    <button class="btn btn-outline-secondary"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>