{% extends 'layout.html.twig' %}

{% block body %}
    <h1 class="site-heading text-center d-none d-lg-block">
        <span class="site-heading-lower text-white">Les cafés d'Éric</span>
        <span class="site-heading-upper text-warning mt-3 mb-3">Artisan Torréfacteur - Thé - Épicerie fine</span>
    </h1>
{% endblock %}
