{% extends 'layout.html.twig' %}

{% block title %}Accéssoires{% endblock %}

{% block body %}
    {#La photo de d'acceuil#}

    {#<section class="page-section">#}
        {#<div class="product-item">#}
            {#<div class="product-item-title d-flex">#}
                {#<div class="bg-faded p-5 d-flex mr-auto rounded">#}
                    {#<h2 class="section-heading mb-0">#}
                        {#<span class="section-heading-lower d-flex justify-content-center">Les accessoires d'Éric</span>#}
                        {#<hr/>#}
                    {#</h2>#}
                {#</div>#}
            {#</div>#}
            {#<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 ml-5 mr-5 mb-lg-0 ml-lg-5 mr-lg-5"#}
                 {#src="{{ asset('build/homeImages/storyBoutique.png') }}" alt="">#}
        {#</div>#}
    {#</section>#}

    {#les produits #}
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/bodum.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4 ">
                                        <span class="section-heading-lower d-flex justify-content-center d-flex justify-content-center">Bodum</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Cafetières à piston</li>
                                        <li>Verres</li>
                                        <li>Tasses</li>
                                        <li>Accessoires café</li>
                                        <li>Moulin à grain</li>
                                        <li>Thermos</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/jura.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">Jura</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Machines expresso tout automatique</li>
                                        <li>Kits de nettoyage machine</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/artea.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">Artea</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Théieres fonte</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="build/accessoryImages/forlife.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">For Life</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Théierese</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="build/accessoryImages/bialetti.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">Bialetti</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Machines à café italienne</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">Delongui</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Machines expresso tout automatique</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">Contigu</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Thermos étanches</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower d-flex justify-content-center">Gefu</span>
                                        <hr/>
                                    </h2>
                                    <ul class="accessoryli">
                                        <li>Machines à café italienne</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
