{% extends 'layout.html.twig' %}

{% block title %}Accessoires{% endblock %}

{% block body %}

    <div class="about-heading-content">
        <div class="bg-faded rounded p-2 mb-5">
            <h2 class="section-heading mb-4 ">
                <span class="section-heading-lower d-flex justify-content-center d-flex ">Nos accessoires</span>
            </h2>
            <span class="produit section-heading-lower d-flex justify-content-center d-flex ">Une présentation de nos marques d'accesoires
        qui allient qualité et savoir faire</span>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/bodum.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Bodum</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Cafetières à piston</li>
                                <li>Verres</li>
                                <li>Tasses</li>
                                <li>Accessoires café</li>
                                <li>Moulin à grain</li>
                                <li>Thermos</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/jura.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Jura</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Machines expresso tout automatique</li>
                                <li>Kits de nettoyage machine</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/artea.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Artea</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Théieres fonte</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="build/accessoryImages/forlife.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">For Life</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Théieres</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="build/accessoryImages/bialetti.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Bialetti</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Machines à café italienne</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Delongui</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Machines expresso tout automatique</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Contigo</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Thermos étanches</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-5">
                <section class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Gefu</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Machines à café italienne</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
