{% extends 'base.html.twig' %}

{% block title %}Edit InfusionProduct{% endblock %}

{% block body %}
    <h1>Edit InfusionProduct</h1>

    {{ include('infusion_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('infusion_product_index') }}">back to list</a>

    {{ include('infusion_product/_delete_form.html.twig') }}
{% endblock %}
