{% extends 'base.html.twig' %}

{% block title %}New InfusionProduct{% endblock %}

{% block body %}
    <h1>Create new InfusionProduct</h1>

    {{ include('infusion_product/_form.html.twig') }}

    <a href="{{ path('infusion_product_index') }}">back to list</a>
{% endblock %}
