<form method="post" action="{{ path('advertise_delete', {'id': advertise.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advertise.id) }}">
    <button class="btn">Delete</button>
</form>
