{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn"><i class="fas fa-sync-alt"></i> {{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
