@@ -0,0 +1,30 @@
{% extends 'layoutAdmin.html.twig' %}
{% block title %}Contenu de l'annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1>Contenu de l'annonce</h1>
        <table class="table">
            <thead>
            <tr>
                <th class="col-9"><i class="fas fa-scroll"></i> Contenu de l'annonce</th>
                <th class="col-3">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for advertise in advertises %}
                <tr>
                    <td>{{ advertise.content }}</td>
                    <td>
                        <a type="button" class="btn btn-outline-secondary" href="{{ path('advertise_edit', {'id': advertise.id}) }}"><i class="fas fa-pencil-alt"></i> Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucune annonce enregistrée </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
