{% extends 'layoutAdmin.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <div class="container">
    <h1>Liste des annonces</h1>
        <div class="mb-5 mt-5">
            <a type="button" class="btn btn-outline-secondary" href="{{ path('advertise_new') }}"><i class="fa fa-plus"></i> Ajouter une nouvelle annonce</a>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>{# ?? des icones devant ?? #}Contenu de l'annonce</th>
                <th>{# ?? des icones devant ?? #}Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertise in advertises %}
            <tr>
                <td class="col-9">{{ advertise.content }}</td>
                <td class="col-3">
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('advertise_edit', {'id': advertise.id}) }}"><i class="fas fa-pencil-alt"></i> Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune annonce enregistrée </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
