{% extends 'layoutAdmin.html.twig' %}

{% block title %}Nouvelle sous-catégorie{% endblock %}

{% block body %}
    <h2>Créer une nouvelle sous-catégorie de café</h2>
<div class="row">
    <div class="col-md-12 mb-5 mt-5">

    {{ include('admin/subcategory/_form.html.twig') }}
    </div>
    <div class="col-md-12 mb-5">
    <a href="{{ path('subcategory_index') }}"><i class="fas fa-reply"></i>Retour</a>
    </div>
</div>
{% endblock %}
