.defileParent {
  display: block;
  margin: 3em auto;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  width: auto;
}
.defile {
  display:block;
  color: $touch;
  min-width: -100%;
  //animation:linear infinite marqueelike 22s;
  text-align:left;
  height:25px;
}

.defile:after {
  content:attr(data-text);
  position:absolute;
  white-space:nowrap;
  padding-left:10px;
}

@keyframes marqueelike {
  0%{margin-left:100%;}
  99.99% {margin-left:-5%;}
}

@media only screen and (max-width: 860px) {
  .defileParent {
    display: block;
    margin: 3em auto;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    width: 100%;
  }
}
