@import "~bootstrap/scss/bootstrap";
@import "/template/business-casual";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "category";
@import "variables.scss";
@import "footer";

body {
  @include body-font;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: $secondaryColor;
}