@import "~bootstrap/scss/bootstrap";
@import "/template/business-casual";
@import "variables.scss";
@import "category";


body {
  @include body-font;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: $secondaryColor;
}
