.intro {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 777px;
      height:518px;
      float: left;
    }
    .intro-text {
      left: 600px;
      width: 100%;
      margin-top: 2%;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 55%;
    }
  }
}


.section-heading {
  text-transform: uppercase;

  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }

  .section-heading-lower {
    display: block;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 100;
  }
}

li{
  list-style-type: circle;
}

