.intro-coffee {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 90%;
      height: 90%;
      float: left;
    }
    .intro-text {
      left: 700px;
      width: 100%;
      position: absolute;

      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 55%;
    }
  }
}


.section-heading-coffee {
  text-transform: uppercase;

  .section-heading-upper-coffee {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }

  .section-heading-lower-coffee {
    display: block;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: oblique;
  }
}

.intro-tea {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 88%;
      float: left;
    }
    .intro-text {
      left: 600px;
      width: 100%;
      position: absolute;

      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 55%;
    }
  }
}


.section-heading-tea {
  text-transform: uppercase;

  .section-heading-upper-tea {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }

  .section-heading-lower-tea {
    display: block;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: oblique;
  }
}

.colorli {

  li {
    &::before {
      color: $touch;
      display: inline-block;
      width: 1em;
      margin-left: -1em;

    }
  }
}

.starli {
  list-style-type:"\A4\ ";
  li::before {
    color:$touch;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

hr {
  width: 250px;
  border: 1px $touch solid;
}

.oblic {
  font-style: oblique;
}

.country{
  max-width: 300px;
  max-height: 300px;
}

.area{
  text-transform: uppercase;
  font-weight: 100;
  font-style: oblique;
}

.about-heading-content-coffee {
  @media (min-width: 992px) {
    position: center;
    margin-left: 15rem;
    max-width: 50%;
  }
}

.coffee{
  max-width: 500px;
  max-height: 500px;
}

.tastingNote{
  font-style: oblique;
}

.imgMedium{
  max-width: 800px;
  max-height:800px;
}

@media (max-width: 991px) {
  .imgMedium{
    max-width: 100%;
  }
}
.bold{

  font-weight: bold;
}