.text-faded {
  color: fade-out($thirdColor, 0);
}

address {
  i {
    color:$thirdColor;
    font-size: 2em;
  }
}

.modal {
  color: $black;
}

.modal-card {
  text-align: left;
  font-size: 14px;
}