body {
  @include body-font;
  background: linear-gradient(rgba(47, 23, 15, 0.65));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  //background-color: $secondaryColor;
  font-size: $fontSize;
}