body {
  @include body-font;
  background-color: $primary;
  background-image: url("https://www.transparenttextures.com/patterns/padded.png");
  background-attachment: fixed;
  background-position: initial;
  background-size: initial;
  font-size: $fontSize;
}
h1 {
  font-size: $sizeH1;
}