.product-item-title {
  margin-bottom: 2rem;
}

.card {
  background-color: $primary;
  color: fade-out($secondary, 0.1);
  .btn-primary {
    display: block;
    text-align: center;
    background-color: lighten($secondary, 10);
    color: $white;
  }
  .btn-primary:hover {
    background-color: darken($secondary, 0.5);
    color: fade-out($touch, 0.1);
  }
}
