.cta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  .cta-inner {
    position: relative;
    padding: 1rem;
    margin: 0.5rem;
    background-color: fade-out($white, 0.15);
  }
}

.list-hours .list-hours-item.today {
  color: $touch;
  font-weight: bolder;
}