{% extends 'layout.html.twig' %}

{% block title %}Thés{% endblock %}

{% block body %}

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ asset('build/images/presentation_tea.jpg') }}" alt="thé">
                <div class="intro-text left-0  text-center bg-faded p-11 mt-3 rounded">
                    <h2 class="section-heading-tea mb-2">
                        <span class="section-heading-lower-tea mt-4 mr-5 ml-5">Les 5 règles d'or pour préparer le thé.</span>
                    </h2>
                    <hr/>
                    <p class="mb-2">(Thés noirs, sombres et parfumés)</p>
                    <ol class= "text-left mr-5 ml-5 colorli">
                       <li >Bien chauffer la théière en la rinçant à l'eau bouillante.</li>
                       <li>Mettre dans la théière 2.5g de thé (1 cuillère à café) par tasse.</li>
                       <li>Faire bouillir de l'eau fraîche dans un récipient uniquement destiné à cet usage. Dès qu'elle commence à frémir, la verser sur votre thé.</li>
                       <li>Laisser infuser 3 à 5 minutes.</li>
                       <li>Remuer rapidement le thé avec une cuillère puis verser.</li>
                    </ol>

                        PARTICULARITÉ :
                    <ul>
                         <li>Les thés blancs : infusion 8 minutes à 80° ;</li>
                        <li>Les Wu Long : infusion 7 minutes à 95° ;</li>
                        <li>Les thés verts : infusion 2 à 3 minutes à 70°.</li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

