{% extends 'layout.html.twig' %}
{% block title %}Nos infusions{% endblock %}
{% block body %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="about-heading-content">
                <div class="bg-faded rounded p-2 mb-5">
                    <h1 class="section-heading">
                        <span class="section-heading-lower justify-content-center d-flex ">Nos infusion</span>
                    </h1>
                    <hr/>
                </div>
            </div>
        </div>
    </section>
    <div class="row justify-content-center ">
        {% for category in categories %}
            <div class="col-6  ">
                <p class="section-heading left-0  text-center bg-faded  rounded">
                    <span class="section-heading-lower ">{{ category.title }}</span>
                    <a href="{{ path('infusion_category_show', {'id': category.id }) }}">voir</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
