<section class="container-fluid">
    <div class="defileParent">
        <span class="defile">{% for advertise in advertises %} {{ advertise.content }}
            {% endfor %}
    </span>
    </div>
</section>
