<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-fluid banner_logo_eric" src="{{ asset('build/banner/logocafeblanc.png') }}" alt="logo"/>
        </div>
        <div class="col-md-6">
            <h1 class="site-heading text-center d-none d-lg-block font-weight-bold">Les cafés d'Éric</h1>
            <h2 class="site-heading-upper text-center mt-3 mb-3 font-weight-bold">Artisan Torréfacteur - Thé - Épicerie
                fine</h2>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid banner_logo_mtf" src="{{ asset('build/banner/logo_ww.png') }}" alt="mtf"/>
        </div>
    </div>
</div>
