<div class="banner">
    <h1 class="site-heading text-center d-none d-lg-block font-weight-bold">Les cafés d'Éric</h1>
    <h2 class="site-heading-upper text-center mt-3 mb-3 font-weight-bold">Artisan Torréfacteur - Thé - Épicerie fine</h2>
</div>
