<div class="banner">
    <h1 class="site-heading text-center d-none d-lg-block"><b>Les cafés d'Éric</b></h1>
    <h2 class="site-heading-upper text-center text-warning mt-3 mb-3"><b>Artisan Torréfacteur - Thé - Épicerie fine</b></h2>
</div>
