<footer class="footer text-faded text-center py-5">
    <h2 class="m-0">Les Cafés d'Éric</h2>
    <address>
        <p class="m-0">rue Thiers</p>
        <p class="m-0">Halles Châtelet</p>
        <p class="m-0">Orléans</p>
        <p class="m-0">02 38 54 87 36</p>
        <a href="https://www.facebook.com/LesCafesDEricOrleans/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/lescafesdericorleans/"><i class="fab fa-instagram"></i></a>
    </address>
    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#modal"><p class="m-0 small">Mentions Légales</p></a>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mentions légales</h5>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</footer>