<footer class="footer text-faded text-center py-5">
    <h2 class="m-0">Les Cafés d'Éric</h2>
    <address>
        <p class="m-0">rue Thiers</p>
        <p class="m-0">Halles Châtelet</p>
        <p class="m-0">Orléans</p>
        <p class="m-0">02 38 54 87 36</p>
        <a href="https://www.facebook.com/LesCafesDEricOrleans/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/lescafesdericorleans/"><i class="fab fa-instagram"></i></a>
    </address>
    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#modal"><p class="m-0 small">Mentions Légales</p>
    </a>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mentions légales</h5>
                </div>
                <div class="modal-body modal-card">
                    <p>Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y
                    parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes
                    modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la
                    confiance dans l’économie numérique, les responsables du présent site internet
                        <a href="http://http://51.75.255.187/">http://51.75.255.187/</a> sont :

                    <p><span><b>Editeur du Site : </b></span></p>
                    Les cafés d'Éric<br>
                    Numéro de SIRET : 50754407000026<br>
                    Responsable editorial : Eric Benchetrit<br>
                    Rue thiers, Halles Chatelet 45000 Orléans<br>
                    Téléphone :0238548736<br>
                    Email : benchetrit.eric@hotmail.fr<br>
                    Site Web : <a href="http://http://51.75.255.187/">http://51.75.255.187/</a>
                    <br><br>
                    <p><b><span>Hébergement :</span> </b></p>
                    Hébergeur : OVH<br>
                    2 rue Kellermann - 59100 Roubaix - France<br>
                    Site Web : <a href="http://https://www.ovh.com/fr/">https://www.ovh.com/fr/</a>
                    <br><br>
                    <p><span><b>Développement</b><b> : </b></span></p>
                    Wild Code School<br>
                    Adresse : 1 Avenue du champs de mars 45074 Orléans<br>
                    Site Web : <a href="http://wildcodeschool.fr/orleans">wildcodeschool.fr/orleans</a>
                    <br><br>
                    <p><span><b>Conditions d’utilisation : </b></span></p>
                    Ce site (<a href="http://http://51.75.255.187/">http://51.75.255.187/</a>) est proposé en différents
                    langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d'utilisation et un
                    graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme
                    Internet explorer, Safari, Firefox, Google Chrome, etc…
                    Les mentions légales ont été générées sur le site <a
                            title="générateur de mentions légales pour site internet gratuit"
                            href="http://www.generateur-de-mentions-legales.com">Générateur de mentions légales</a>,
                    offert par <a title="imprimerie paris, imprimeur paris" href="http://welye.com">Welye</a>.
                    <br>
                    <span>Wild code school<b> </b></span>met en œuvre tous les moyens dont elle
                    dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet.
                    Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de
                    l'exactitude des informations auprès de , et signaler toutes modifications du site qu'il jugerait
                    utile. n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout
                    préjudice direct ou indirect pouvant en découler.
                    <br><br>
                    <p><span><b>Cookies :</b></span></p> Le site <a href="http://http://51.75.255.187/">http://51.75.255.187/</a> peut-être
                    amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d'affichage. Un
                    cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il
                    contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte
                    auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne
                    peuvent être fonctionnelles sans l’acceptation de cookies.
                    <br><br>
                    <p><span><b>Liens hypertextes :</b></span></p> Les sites internet de peuvent offrir des liens vers d’autres sites
                    internet ou d’autres ressources disponibles sur Internet. Wild code school ne dispose d'aucun moyen
                    pour contrôler les sites en connexion avec ses sites internet. ne répond pas de la disponibilité de
                    tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout
                    dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et
                    notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être
                    fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui
                    doit se conformer à leurs conditions d'utilisation.
                    <br>
                    Les utilisateurs, les abonnés et les visiteurs des sites internet de ne peuvent mettre en place un
                    hyperlien en direction de ce site sans l'autorisation expresse et préalable de Wild code school.
                    <br>
                    Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en
                    direction d’un des sites internet de Wild code school, il lui appartiendra d'adresser un email
                    accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Wild code school
                    se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
                    <br><br>
                    <p><span><b>Services fournis : </b></span></p>
                    <p>L'ensemble des activités de la société ainsi que ses informations sont
                        présentés sur notre site <a href="http://http://51.75.255.187/">http://51.75.255.187/</a>.</p>
                    <p>Wild code school s’efforce de fournir sur le site http://51.75.255.187/
                        des informations aussi précises que possible. les renseignements figurant sur le site <a
                                href="http://http://51.75.255.187/">http://51.75.255.187/</a> ne sont pas exhaustifs et
                        les photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées
                        depuis leur mise en ligne. Par ailleurs, tous les informations indiquées sur le site
                        http://51.75.255.187/<span style="color: #000000;"><b> </b></span>sont données à titre
                        indicatif, et sont susceptibles de changer ou d’évoluer sans préavis. </p>
                    </br>
                    <p><span><b>Limitation contractuelles sur les données : </b></span>
                    </p>
                    Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à
                    différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si
                    vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir
                    le signaler par email, à l’adresse benchetrit.eric@hotmail.fr, en décrivant le problème de la
                    manière la plus précise possible (page posant problème, type d’ordinateur et de navigateur utilisé,
                    …).
                    <br>
                    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule
                    responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque dommage subi par
                    l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
                    <span>De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour</span>

                    Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres
                    ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Wild code
                    school.
                    </br></br>
                    <p><span><b>Propriété intellectuelle :</b></span></p>
                    Tout le contenu du présent sur le site <a
                            href="http://http://51.75.255.187/">http://51.75.255.187/</a>, incluant, de façon non
                    limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi
                    que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou
                    contenus appartenant à d'autres sociétés partenaires ou auteurs.
                    <br>
                    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
                    partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de
                    Wild code school. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue
                    une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété
                    intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la
                    responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés
                    pourraient intenter une action en justice à votre encontre.
                    </br></br>
                    <p><span><b>Déclaration à la CNIL : </b></span>
                    </p>
                    Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative
                    à la protection des personnes physiques à l'égard des traitements de données à caractère personnel)
                    relative à l'informatique, aux fichiers et aux libertés, ce site n'a pas fait l'objet d'une
                    déclaration auprès de la Commission nationale de l'informatique et des libertés (<a
                            href="http://www.cnil.fr/">www.cnil.fr</a>).
                    </br><br>
                    <p><span><b>Litiges : </b></span></p>
                    Les présentes conditions du site <a href="http://http://51.75.255.187/">http://51.75.255.187/</a>
                    sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de
                    l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont
                    dépend le siège social de la société. La langue de référence, pour le règlement de contentieux
                    éventuels, est le français.
                    </br><br>
                    <p><span><b>Données personnelles :</b></span>
                    </p>
                    De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous
                    visitez notre site Internet <a href="http://http://51.75.255.187/">http://51.75.255.187/</a>.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</footer>