<footer class="footer text-faded text-center py-5">
    <div class="container">
        <h2 class="m-0">Les Cafés d'Éric</h2>
        <p class="m-0">rue Thiers</p>
        <p class="m-0">Halles Châtelet</p>
        <p class="m-0">Orléans</p>
        <p class="m-0">02 38 54 87 36</p>
        <a href="https://www.facebook.com/LesCafesDEricOrleans/"><img src="https://image.noelshack.com/fichiers/2018/47/3/1542831873-cup-fb-mid.png" alt="tasse_lien_fb"></a>
        <a href="https://www.instagram.com/lescafesdericorleans/"><img src="https://image.noelshack.com/fichiers/2018/47/3/1542831873-cup-insta-mid.png" alt="tasse_lien_insta"></a>
        <a href=""><p class="m-0 small">Mentions Légales</p></a>
    </div>
</footer>