<footer class="footer text-faded text-center py-5">
    <h2 class="m-0">Les Cafés d'Éric</h2>
    <address>
        <p class="m-0">rue Thiers</p>
        <p class="m-0">Halles Châtelet</p>
        <p class="m-0">Orléans</p>
        <p class="m-0">02 38 54 87 36</p>
        <a href="https://www.facebook.com/LesCafesDEricOrleans/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/lescafesdericorleans/"><i class="fab fa-instagram"></i></a>
    </address>
    <a href=""><p class="m-0 small">Mentions Légales</p></a>
</footer>