<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Horaires du magasin</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Lundi
                            <span class="ml-auto">14h-19h</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Mardi
                            <span class="ml-auto">09h-13h 14h-19h</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Mercredi
                            <span class="ml-auto">09h-13h 14h-19h</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Jeudi
                            <span class="ml-auto">09h-13h 14h-19h</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Vendredi
                            <span class="ml-auto">09h-13h 14h-19h</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Samedi
                            <span class="ml-auto">09h-19h</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Dimanche
                            <span class="ml-auto">Fermé</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>