<section class="page-section">
    <div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-lower">L'Histoire des Cafés d'Éric</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 ml-5 mr-5 mb-lg-0 ml-lg-5 mr-lg-5"
             src="{{ asset('build/homeImages/storyBoutique.png') }}" alt="Boutique">
        <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
                <p>APRÈS UNE CARRIÈRE COMME SPORTIF DE HAUT NIVEAU, ERIC VILLEMAINE-BENCHETRIT DEVIENT
                    TORRÉFACTEUR.
                </p>
                <p>Vice-champion du monde d'aérobic en 2000, Eric a dédié 20 ans de sa vie au service de ce sport
                    entre compétitions, entrainements et enseignement. Puis c’est la reconversion dans la
                    torréfaction.
                </p>
                <p>Après une formation chez l’importateur spécialiste de café gourmet, c’est en 2008 que son
                    établissement ouvre ses portes à Orléans. Compétiteur dans l’âme, il remporte aussi le titre du
                    Meilleur Torréfacteur de France lors de la Rencontre Nationale de la Torréfaction en 2011.
                    Pour Eric, la transformation du produit devant les clients est fondamentale. En plus de ses
                    cafés allant du Malabar Inde au déca du Mexique, il propose également chaque mois  un café dit "café
                    du mois" afin de faire découvrir de nouveaux terroirs aux clients (café bio, petite récolte...)
                </p>
            </div>
        </div>
    </div>
</section>