{% extends 'layout.html.twig' %}

{% block title %}Épicerie fine{% endblock %}

{% block body %}

    <div class="about-heading-content">
        <div class="bg-faded rounded p-2 mb-5">
            <h1 class="section-heading mb-4 ">
                <span class="section-heading-lower d-flex justify-content-center d-flex ">Épicerie fine</span>
            </h1>
            <span class="product section-heading-lower d-flex justify-content-center d-flex ">Une séléction de notre épicerie fine</span>
        </div>
    </div>
    <section class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/groceryImages/jam.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Confitures</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Favols</li>
                                <li>Daniel Boudet</li>
                                <li>Charles Antona</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="build/groceryImages/chocolate.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Chocolats</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Weiss</li>
                                <li>Mazet</li>
                                <li>Nocciotella</li>
                                <li>Chocolats de l'île de Ré</li>
                                <li>Chez mon chocolatier</li>
                                <li>Lauzea (chocolatier de Martinique)</li>
                                <li>Monbana</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/groceryImages/biscuit.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Biscuits</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Les sablés de Nancay</li>
                                <li>Biscuits Alain yvelin </li>
                                <li>Biscuitterie du Quercy</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Pâtisseries</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Maison Bruyère</li>
                                <li>Les délices de Marie</li>
                                <li>Gato Mariem</li>
                                <li>Le comptoir de Mathilde</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/groceryImages/kit.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Kit de préparation</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Légendes gourmandes</li>
                                <li>Quai Sud</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/groceryImages/honey.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">mielierie</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Maison Peltier</li>
                                <li>La miellerie de Ferolles</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/accessoryImages/logo.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Épices</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>Terre exotique</li>
                                <li>Grand choix d'épices, sels, poivres, mélanges d'épices</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="build/groceryImages/salt.jpg"
                         alt="bodum">
                    <div class="about-heading-content">
                        <div class="bg-faded rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Plaisir salé</span>
                                <hr/>
                            </h2>
                            <ul class="accessoryli">
                                <li>L'épicerie de Provence</li>
                                <li>Les délices du Luberon</li>
                                <li>Sigdal</li>
                                <li>Conserverie des saveurs</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

{% endblock %}
