{% extends 'layout.html.twig' %}

{% block title %}Épicerie fine{% endblock %}

{% block body %}

    <div class="about-heading-content">
        <div class="bg-faded rounded p-2 mb-5">
            <h1 class="section-heading mb-4 ">
                <span class="section-heading-lower d-flex justify-content-center d-flex ">Épicerie fine</span>
            </h1>
            <span class="product section-heading-lower d-flex justify-content-center d-flex ">Une séléction de notre épicerie fine</span>
        </div>
    </div>
{% endblock %}
