{% extends 'layoutAdmin.html.twig' %}

{% block title %}Editer un thé{% endblock %}

{% block body %}
    <h1>Editer un thé</h1>
<div class="row">
    <div class="col-md-12 mb-5 mt-5">
        {{ include('admin/tea/_form.html.twig', {'button_label': 'Editer'}) }}
    </div>
    <div class="col-md-12">
        <a class="btn btn-outline-secondary" href="{{ path('tea_index') }}"><i class="fas fa-reply"></i> Retour</a>
    </div>
</div>
{% endblock %}
