{% extends 'layoutAdmin.html.twig' %}

{% block title %}Éditer une infusion{% endblock %}

{% block body %}
    <h1>Éditer une infusion</h1>
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            {{ include('admin/infusion/_form.html.twig', {'button_label': 'Éditer'}) }}
        </div>
        <div class="col-md-12">
            <a class="btn btn-outline-secondary" href="{{ path('infusion_index') }}"><i class="fas fa-reply"></i> Retour</a>
        </div>
    </div>
{% endblock %}
