{% extends 'layoutAdmin.html.twig' %}

{% block title %}Acceuil Infusions{% endblock %}

{% block body %}
    <div class="container">
        <h1>Accueil Infusions</h1>
        <div class="mb-5 mt-5">
            <a type="button" class="btn btn-outline-secondary" href="{{ path('infusion_new') }}"><i
                        class="fa fa-plus"></i> Ajouter une nouvelle infusion</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for infusion in infusions %}
                <tr>
                    <td class="col-8"><i class="fas fa-leaf"></i> {{ infusion.name }}</td>
                    <td class="col-4">
                        <a type="button" class="btn btn-outline-secondary"
                           href="{{ path('infusion_show', {'id': infusion.id}) }}"><i class="far fa-eye"></i> Voir</a>
                        <a type="button" class="btn btn-outline-secondary"
                           href="{{ path('infusion_edit', {'id': infusion.id}) }}"><i class="fas fa-pencil-alt"></i>
                            Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune infusion trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
